@tailwind base;

@tailwind components;

@tailwind utilities;

#adminmenumain {
    @apply hidden;
}

#wpcontent {
    @apply ml-0;
}
#wpcontent #wpbody {
    @apply mt-24;
}
#wpbody-content .update-nag,
#wpbody-content .wf-admin-notice.notice.notice-error {
    @apply hidden;
}

#wpfooter {
    @apply hidden;
}

#voice-talent {
    @apply mt-20;
}

.container {
    @apply mx-auto;
    max-width: 1600px;
}

.top-100 {top: 100%}
.bottom-100 {bottom: 100%}
.max-h-select {
    max-height: 300px;
}
.max-h-form {
    max-height: 500px;
}

.dashicons-trash:before {
    font-family: "dashicons";
    content: "\f182";
}

.dashicons-duplicate:before {
    font-family: "dashicons";
    content: "\f105";
}

.multiselect__option--group {
    color: white;
    background: darkorchid;
}
